* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-flow: column nowrap;
  background-color: rgb(155, 253, 152);
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.container-c {
  display: flex;
  flex-flow: column nowrap;
  border: 3px solid blue;
}

.login {
  width: 50vw;
  height: 50vh;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  align-self: center;
  margin-top: auto;
}

.inputs-login {
  display: flex;
  flex-flow: column nowrap;
  width: 25%;
  height: 25%;
  justify-content: space-between;
}

.clock-img {
  width: 20%;
}

.container-r {
  display: flex;
  flex-flow: row nowrap;
}